.Login {
    margin: auto;
    width: 150px;
}
.Login .Button {
    padding: 8px;
    margin-top: 15px;
    width: 300px;
    border: none;
    background-color: rgb(13, 190, 13);
    color: #fff;
  
}